@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2 {
  @apply font-serif text-primary;
}
p {
  @apply font-sans;
}

.servhover:hover .servimg {
  @apply opacity-20;
}

h2 {
  @apply relative text-5xl font-semibold;
}

a {
  @apply rounded;
}

@media (min-width: 768px) {
  .halflanding {
    background-image: url("/pic1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.header-info h3 {
  @apply text-sm;
}
.header-info p {
  @apply text-base font-bold;
}
